package views

import "RemoteMonitor/views/layouts"

templ DashboardHeader() {
	<title>RemoteMonitor | Dashboard</title>
}

templ Home() {
	@layouts.Base(DashboardHeader()) {
		<div>
			<h1>Home</h1>
			<p>Welcome to the home page</p>
		</div>
	}
}
