package views

templ WebsocketClient() {
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>WebSocket</title>
		</head>
		<body>
			<p id="output"></p>
			<script>
		console.log('Starting WebSocket Client')
		ws = new WebSocket("ws://localhost:8080/ws")

		ws.onopen = function() {
		  console.log('Connected')
		}

		ws.onmessage = function(evt) {
		  var out = document.getElementById('output');
		  out.innerHTML += evt.data + '<br>';
		}

	  </script>
		</body>
	</html>
}
